pillow
hydrus_api
joblib
pick
numpy
opencv-python
pywin32
tqdm
frozendict
pydantic
numpy
# Requests weirdness
requests >= 2.32.5
charset_normalizer > 2.0.0, <= 4.0.0
chardet >= 3.0.2, < 6.0.0
urllib3 >= 1.21.1
# Build/dev
pyinstaller
vulture
mypy
